{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”all”>
<title>
ورود | زر مارکت
</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body_block %}
<br>
<div class="uk-grid-match uk-grid-small uk-text-center " uk-grid>
  <div class="uk-width-1-6 uk-width-1-4@m">

  </div>
      <div class="uk-width-2-3 uk-width-1-2@m uk-block ">
<div class="uk-card uk-card-hover uk-card-body darkgreyC ">
    <h3 style="font-size:30px;" class="goldC-text uk-card-title uk-align-center fHarmattan">ورود</h3>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="uk-grid-match uk-grid-small uk-text-center" uk-grid>

        <div class="uk-width-1-2@m" >
                <div class="uk-width-5-6">
      {{form.username}}
      </div>
          <div class="uk-width-1-6 goldC-text fHarmattan " style="direction:ltr; font-size:20px;padding-top:5px; " >
  +98
          </div>

        </div>

      <div class="uk-width-1-2@m">
      {{form.password}}
      </div>



              {% if form.errors %}
                  <div class="uk-width-1-1">
              <p  class="fHarmattan goldC-text">نام کاربری یا رمز عبور اشتباه است</p>
              </div>
              {% endif %}

      </div>
      <br>
      <button style="margin-top:20px;" class="uk-button uk-button-primary fHarmattan goldC darkgreyC-text " type="submit">تایید
    </button><br><br>
<a href="{% url 'accounts:passwordforget' %}" class="fHarmattan goldC-text">رمز عبور خود را فراموش کرده اید؟</a>
    </form>
</div>
<div class="uk-width-1-6 uk-width-1-4@m">

</div>
</div>
</div>
<br><br><br>
<div class="uk-grid-match uk-text-center" uk-grid>


  <div class="uk-width-expand" style=" width:43%; border-top: solid #d4af37  1px;">

  </div>
  <div class="uk-align-center uk-width-1-5" style="margin-top:-20px;padding-left:30px;width:105px;" >
<i class="medium material-icons goldC-text" style="font-size: 45px;">fingerprint</i>
  </div>
  <div class="uk-width-expand" style="margin-left:-30px; width:43%; border-top: solid #d4af37 1px;" >

  </div>
</div>

<div class="uk-text-center">
  <h3 class="fHarmattan goldC-text">ثبت نام نکرده اید؟</h3>
    <a class="uk-button uk-button-large whiteC-text goldC fHarmattan uk-text-large darkgreyC-text" href="{% url 'commonuser:signup' %}">عضویت</a>
  </div>
<br><br>
{% endblock %}
{% block script_block %}

{% endblock %}
