.fMarkazi {
  font-family: 'Markazi Text', serif;
}
.fHarmattan {
  font-family: 'Harmattan', sans-serif;
}
.fLalezar {
  font-family: 'Lalezar', cursive;
}
.fLateef {
  font-family: 'Lateef', cursive;
}
.goldC{
  background-color: #c7a046;
}
.goldC-text{
  color: #c7a046;
}
.whiteC{
  background-color: #fafafa;
}
.whiteC-text{
  color: #fafafa;
}
.milkywhiteC{
  background-color: #f2f2f2;
}
.milkywhiteC-text{
  color: #f2f2f2;
}
.darkgreyC{
  background-color: #262626;
}
.darkgreyC-text{
  color: #262626;
}
.redC{
  background-color: #ff0a0a;
}
.redC-text{
  color: #ff0a0a;
}
.blueC{
  background-color: #0a50ff;
}
.blueC-text{
  color: #0a50ff;
}
.greyC{
  background-color: #363636;
}
.greyC-text{
  color: #363636;
}
