
{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”all”>
<title>
فراموشی رمز عبور | زر مارکت
</title>
{% endblock %}
{% block body_block %}
<br>
<div class="uk-grid-match uk-grid-small uk-text-center " uk-grid>
  <div class="uk-width-1-6 uk-width-1-4@m">

  </div>
      <div class="uk-width-2-3 uk-width-1-2@m uk-block ">
<div class="uk-card uk-card-hover uk-card-body darkgreyC ">
    <h3 style="font-size:30px;" class="goldC-text uk-card-title uk-align-center fHarmattan">فراموشی رمز عبور</h3>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div class="uk-grid-match uk-grid-small uk-text-center" uk-grid>

      <div class="uk-width-1-1@m goldC-text fHarmattan">
    شماره تلفن خود را وارد کنید تا رمز عبور جدید برای شما ارسال شود
      </div>

      <div class="uk-width-1-1@m" uk-grid>
        <div class="uk-width-5-6">
{{form.phone_number}}
</div>
  <div class="uk-width-1-6 goldC-text uk-text-right " style="direction:ltr; font-size:18px;padding-top:5px; " >
    <span id="phonenumbervalidator" class="helper-text" data-error="wrong" data-success="right"></span>
+98

  </div>    </div>



              {% if form.errors %}
                  <div class="uk-width-1-1">
              <p  class="fHarmattan goldC-text">
                مشکلی پیش آمد لطفا دوباره سعی کنید.<br>
                        {{error1}}
                        {{error2}}
                        {{error3}}
                        {{error4}}
                      </p>
              </div>
              {% endif %}

      </div>
      <br>
      <button style="margin-top:20px;" class="uk-button uk-button-primary fHarmattan goldC darkgreyC-text" type="submit">تایید
    </button><br><br>
    </form>
</div>
<div class="uk-width-1-6 uk-width-1-4@m">

</div>
</div>
</div>
<br><br><br>

{% endblock %}
