{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
اخطار | زر مارکت
</title>

{% endblock %}
{% block body_block %}
<br><br>
<div class="uk-grid-match uk-grid-small uk-text-center " uk-grid>
  <div class="uk-width-1-6 uk-width-1-4@m">

  </div>
      <div class="uk-width-2-3 uk-width-1-2@m uk-block ">
<div class="uk-card uk-card-hover uk-card-body darkgreyC ">
    <h2 style="font-size:30px;" class="goldC-text uk-card-title uk-align-center fHarmattan">خطا</h2><br>
    <p style="font-size:20px" class="goldC-text uk-card-title uk-align-right fHarmattan">لطفا حداقل 3 دقیقه تا امتحان مجدد صبر کنید سپس دوباره امتحان کنید.</p>
    <p style="font-size:20px" class="goldC-text uk-card-title uk-align-right fHarmattan">با تشکر از همکاری شما.</p><br><br>
</div>
<div class="uk-width-1-6 uk-width-1-4@m">

</div>
</div>
</div>

{% endblock %}
