{% extends "BaseTemplates/base1.html" %}
{% load customtags %}


{% block head_block %}
<meta name=”robots” content=”all”>
<title>
{{jewlery_detail.name}} | طلا مارکت
</title>
{% endblock %}

{% block body_block %}
<div   class="uk-text-center ">
  <div style="padding:5%">


<div style="border-radius: 8px;" uk-grid>
  <div class=" uk-width-1-1 uk-block fHarmattan ">
<div class="uk-card uk-card-hover uk-card-body darkgreyC ">
<div uk-grid>
  <div class=" uk-width-2-5@s uk-width-1-1 uk-block fHarmattan ">
    <div style=" border-radius:20px " class="uk-position-relative uk-visible-toggle uk-light " tabindex="-1" uk-slider="center: true">

        <ul  class="uk-slider-items uk-grid" uk-lightbox="animation: slide">
          {% for pic in jewlery_detail.pictures.all %}
            <li class="uk-width-3-4 ">
                <a class="uk-panel uk-inline" href="{{pic.picture.url}}" >
                    <img width="2000" height="2000" src="{{pic.picture.url}}" alt="">

                </a>
            </li>
            {% endfor %}
        </ul>

        <a style="color:#d4af37" class="uk-position-center-left uk-position-small uk-hidden-hover goldC-text" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a style="color:#d4af37" class="uk-position-center-right uk-position-small uk-hidden-hover goldC-text" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>
  </div>
<div class="uk-width-3-5@s uk-width-1-1 fHarmattan uk-text-left goldC-text" uk-grid>
  <div class=" uk-width-1-4 fHarmattan ">
نام
  </div>
  <div class=" uk-width-1-4 fHarmattan uk-text-right whiteC-text">
{{jewlery_detail.name}}
  </div>
  <div class=" uk-width-1-4 fHarmattan ">دسته بندی</div>
   <div class=" uk-width-1-4 fHarmattan uk-text-right whiteC-text">
  {% if jewlery_detail.is_goldset %}  سرویس طلا{% endif %}
  {% if jewlery_detail.is_pendant %} مدال {% endif %}
  {% if jewlery_detail.is_bracelet %} دستبند {% endif %}
  {% if jewlery_detail.is_necklace %} گردنبند {% endif %}
  {% if jewlery_detail.is_bangle %} النگو {% endif %}
  {% if jewlery_detail.is_chain %} زنجیر {% endif %}
  {% if jewlery_detail.is_earings %} گوشواره {% endif %}
  {% if jewlery_detail.is_halfset %} نیم ست {% endif %}
  {% if jewlery_detail.is_watch %} ساعت {% endif %}
  {% if jewlery_detail.is_anklet %} پابند {% endif %}
   </div>
  <div class=" uk-width-1-4 fHarmattan ">
وزن
  </div>
  <div class=" uk-width-1-4 fHarmattan uk-text-right whiteC-text">
{{jewlery_detail.weight}}g
  </div>
  <div class=" uk-width-1-4 fHarmattan ">
ساخت کشور
  </div>
  <div class=" uk-width-1-4 fHarmattan uk-text-right whiteC-text">
{{jewlery_detail.made_in}}
  </div>
  <div class=" uk-width-1-4 fHarmattan ">
جنس
  </div>
  <div class=" uk-width-1-4 fHarmattan uk-text-right whiteC-text">
{% if jewlery_detail.is_unisex %}زنانه و مردانه{% else %}{% if jewlery_detail.is_womanly %}زنانه{% else %}مردانه{% endif %}{% endif %}
  </div>

    <div class=" uk-width-1-4 fHarmattan ">
  نام سازنده
    </div>
    <div class=" uk-width-1-4 fHarmattan uk-text-right whiteC-text">
  {{jewlery_detail.company_name}}
    </div>
    <div class=" uk-width-1-4 fHarmattan ">
عیار
    </div>
    <div class=" uk-width-1-4 fHarmattan uk-text-right whiteC-text">
  {{jewlery_detail.karat}}
    </div>
    <div class=" uk-width-1-4 fHarmattan ">
اجرت
    </div>
    <div class=" uk-width-1-4 fHarmattan uk-text-right whiteC-text">
  {{jewlery_detail.sale_wage}}%
    </div>
    <div class=" uk-width-1-4 fHarmattan ">دسته بندی</div>
     <div class=" uk-width-1-4 fHarmattan uk-text-right whiteC-text">
    {% if jewlery_detail.is_goldset %}  سرویس طلا{% endif %}
    {% if jewlery_detail.is_pendant %} مدال {% endif %}
    {% if jewlery_detail.is_bracelet %} دستبند {% endif %}
    {% if jewlery_detail.is_necklace %} گردنبند {% endif %}
    {% if jewlery_detail.is_bangle %} النگو {% endif %}
    {% if jewlery_detail.is_chain %} زنجیر {% endif %}
    {% if jewlery_detail.is_earings %} گوشواره {% endif %}
    {% if jewlery_detail.is_halfset %} نیم ست {% endif %}
    {% if jewlery_detail.is_watch %} ساعت {% endif %}
    {% if jewlery_detail.is_anklet %} پابند {% endif %}
     </div>
     <div class=" uk-width-1-2 fHarmattan uk-text-center">
       {% if not user.commonusers.is_jewler %}          <div style="border:solid 1px #d4af37; border-radius:5px; font-size:18px;direction: ltr;"  class="">
                {{jewlery_detail.pk|calculateprice}} T
              </div>{% endif %}
       {% if user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">اجرت فروش عمده</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery_detail.sale_wage}}</div>{% endif %}



     </div>


  </div>
  </div>
  <a href="{% url 'order:ordering' jewlery_detail.pk %}" class="uk-align-center uk-text-center uk-button goldC uk-margin-small-bottom darkgreyC-text fHarmattan uk-text-large">سفارش</a>


</div>
<br><br>
</div>
</div>
</div>
<div  class="uk-text-center ">

<div style="margin-right:20px;" class="uk-text-right goldC-text fHarmattan">
  محصولات مرتبط
</div>
<br>
<div  class="uk-slider-container-offset uk-visible@s" uk-slider="autoplay: true; autoplay-interval:2400">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slider-items uk-child-width-1-5@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid">
                    {% for jewlery in jewleries %}
                    {% if  jewlery.is_favorite %}

            <li>
                <div style="border-radius: 8px;" class="uk-card uk-card-default darkgreyC">
                  <a href="{% url 'jewlery:publicdetail' jewlery.pk %}">
                    <div style=" padding:6px;" class="uk-card-media-top">
                      {% for pic in jewlery.pictures.all %}
                      {% if forloop.first %}
                        <img style="border-radius: 8px; " src="{{pic.picture.url}}">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="uk-card-body">
                      <div  class="uk-grid uk-grid-small goldC-text" uk-grid>
                        <div style="margin-top:-4px;" class=" uk-width-1-1 uk-block fHarmattan ">{{jewlery.name}}</div>
                      <div class=" uk-width-1-2 fHarmattan ">وزن</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.weight}}gr</div>
                      <div class=" uk-width-1-2 fHarmattan ">دسته بندی</div>
                       <div class=" uk-width-1-2 fHarmattan whiteC-text">
                      {% if jewlery.is_goldset %}  سرویس طلا{% endif %}
                      {% if jewlery.is_pendant %} مدال {% endif %}
                      {% if jewlery.is_bracelet %} دستبند {% endif %}
                      {% if jewlery.is_necklace %} گردنبند {% endif %}
                      {% if jewlery.is_bangle %} النگو {% endif %}
                      {% if jewlery.is_chain %} زنجیر {% endif %}
                      {% if jewlery.is_earings %} گوشواره {% endif %}
                      {% if jewlery.is_halfset %} نیم ست {% endif %}
                      {% if jewlery.is_watch %} ساعت {% endif %}
                      {% if jewlery.is_anklet %} پابند {% endif %}
                       </div>
                       {% if not user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">قیمت</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.pk|calculateprice}}</div>{% endif %}
                       {% if user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">اجرت فروش عمده</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.sale_wage}}</div>{% endif %}


                      </div>
                    </div>
                  </a>
                </div>
            </li>
{% endif %}
{% endfor %}
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>


<div style="margin-right:-10%; margin-left:-10%" class="uk-hidden@s uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true; autoplay:true; autoplay-interval:2400">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul  class="uk-slider-items uk-child-width-1-2 uk-grid">
                    {% for jewlery in jewleries %}
                    {% if  jewlery.is_favorite %}

            <li>
                <div style="border-radius: 8px;" class="uk-card uk-card-default darkgreyC">
                  <a href="{% url 'jewlery:publicdetail' jewlery.pk %}">
                    <div style=" padding:6px;" class="uk-card-media-top">
                      {% for pic in jewlery.pictures.all %}
                      {% if forloop.first %}
                        <img style="border-radius: 8px; " src="{{pic.picture.url}}">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="uk-card-body">
                      <div  class="uk-grid uk-grid-small goldC-text" uk-grid>
                        <div style="margin-top:-4px;" class=" uk-width-1-1 uk-block fHarmattan ">{{jewlery.name}}</div>
                      <div class=" uk-width-1-2 fHarmattan ">وزن</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.weight}}gr</div>
                      <div class=" uk-width-1-2 fHarmattan ">دسته بندی</div>
                       <div class=" uk-width-1-2 fHarmattan whiteC-text">
                      {% if jewlery.is_goldset %}  سرویس طلا{% endif %}
                      {% if jewlery.is_pendant %} مدال {% endif %}
                      {% if jewlery.is_bracelet %} دستبند {% endif %}
                      {% if jewlery.is_necklace %} گردنبند {% endif %}
                      {% if jewlery.is_bangle %} النگو {% endif %}
                      {% if jewlery.is_chain %} زنجیر {% endif %}
                      {% if jewlery.is_earings %} گوشواره {% endif %}
                      {% if jewlery.is_halfset %} نیم ست {% endif %}
                      {% if jewlery.is_watch %} ساعت {% endif %}
                      {% if jewlery.is_anklet %} پابند {% endif %}
                       </div>
                       {% if not user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">قیمت</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.pk|calculateprice}}</div>{% endif %}
                       {% if user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">اجرت فروش عمده</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.sale_wage}}</div>{% endif %}


                      </div>
                    </div>
                  </a>
                </div>
            </li>
{% endif %}
{% endfor %}
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>


</div>
</div>


    {% endblock %}
