{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
درباره ما | زر مارکت
</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body_block %}
<br>
<div   class="uk-text-center ">
  <div style="padding:10%">


<div style="padding: 3%;border-radius: 8px;" uk-grid>
  <div class=" uk-width-1-1 uk-block fHarmattan ">
<div class="uk-card uk-card-hover uk-card-body darkgreyC ">
    <h2 style="font-size:30px;" class="goldC-text uk-card-title uk-align-center fHarmattan">درباره ما</h2><br>
    <p style="font-size:20px" class="goldC-text uk-card-title uk-align-right fHarmattan">با تشکر از همکاری شما.</p><br><br>
</div>

</div>
</div>
</div>
</div>
{% endblock %}
