{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”all”>
<title>
 سوالات متداول | زر مارکت
</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body_block %}
<br>
<h2 class="uk-text-center goldC-text fHarmattan">سوالات متداول</h2>
<br>
  <div style="margin:5%;" class=" uk-block ">
<div class="uk-card uk-card-hover uk-card-body darkgreyC ">
  <ul uk-accordion="multiple: true">
    <li style="border-right:5px #d4af37 solid; padding:10px;">
        <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">چگونه باید در سایت ثبت نام کرد؟</a>
        <div class="uk-accordion-content whiteC-text fHarmattan">
            <p>در صفحه ی ثبت نام سایت شماره همراه خود را بدون احتساب صفر (۰) اول آن وارد کنید و پس از انتخاب رمز مورد نظر و تایید آن و سایر فیلد های لازم بر روی تایید کلیک کنید.
            در صفحه بعدی کد تایید فرستاده شده به شماره همراه را وارد کنید تا ثبت نام شما نهایی شود.</p>
        </div>
    </li>
    <li style="border-right:5px #d4af37 solid; padding:10px;">
        <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">اگر خودمان طلا فروش یا ویترین باشیم چگونه باید در سایت ثبت نام کنیم؟</a>
        <div class="uk-accordion-content whiteC-text fHarmattan">
            <p>در هنگام ثبت نام در سایت در صفحه ی مربوطه کافیست تیک گزینه ی طلا یا جواهر فروش هستم را بزنید.
            پشتیبان های سایت درخواست های شما را دیده و پس از تایید درخواست شما، حساب کاربری شما به حالت ویژه تبدیل خواهد شد.</p>
        </div>
    </li>
    <li style="border-right:5px #d4af37 solid; padding:10px;">
        <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> نحوه ی سفارش کالا در سایت چگونه است؟</a>
        <div class="uk-accordion-content whiteC-text fHarmattan">
            <p>پس از ثبت نام و ورود به سایت از صفحه ی طلا و جواهرات، کالای مورد نظز خود را انتخاب کرده و بر روی سفارش کلیک کنید.
            سپس در صفحه ی سفارش کالا مشخصات مورد نظر اعم از شماره تلفن و آدرس را پر کرده و بر روی تایید کلیک کنید.
            سفارش شما نهایی شده است،</p>
        </div>
    </li>
      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> کالا های سفارش داده شده به چه صورت تحویل داده می شوند؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>کالاهای سفارش داده شده در جعبه های خاص خود که هزینه ی اضافی ندارند قرار داده می شوند و به همراه فاکتور معتبر تحویل شما داده می شوند.</p>
          </div>
      </li>
      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">              پرداخت وجه به چه صورت انجام میپذیرد؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>پرداخت وجه پس از تحویل جنس و فاکتور آن به صورت حضوری انجام می پذیرد.</p>
          </div>
      </li>
      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">آیا امکان عودت جنس وجود دارد؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>خیر اجناس فروخته شده پس از تحویل جنس و فاکتور پس گرفته نمی شوند. در صورت اصرار مشتری به عودت جنس، اجناس به قیمت طلای خام و بدون اجرت جهت ذوب کردن خریداری می شوند.</p>
          </div>
      </li>
      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">قیمت گذاری اجناس موجود در سایت به چه صورت است؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>قیمت گذاری اجناس با نرخ لحظه ای طلا انجام می شود.
              نرخ طلای سایت به صورت لحظه ای به روز رسانی شده و با حساب مالیات و اجرت کارساخته، قیمت نهایی اجناس در سایت نشان داده می شوند.</p>
          </div>
      </li>
      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">آیا با خرید از سایت، مانند سایر ویترین ها فاکتور جنس خریداری شده تحویل داده می شود؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>بله؛ همه ی اجناس با فاکتور شامل نرخ، وزن و سایر مشخصات طلا‌ تحویل داده می شوند.</p>
          </div>
      </li>


      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> اگر رمز عبود خود را فروش کردم چه کار کنم؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>در صورت فراموشی رمز عبور خود بر روی لینک فراموشی رمز کلیک کنید. در صفحه باز شماره تلفن خود را بدون وارد کردن صفر (۰) اول آن وارد کنید، اگر شماره تلفن وارد شده درست بوده و قبلا ثبت نام کرده باشید، رمز عبور جدید برای شما ارسال میگردد. با شماره تلفن و رمز عبود جدید میتوان وارد سیستم شد.</p>
          </div>
      </li>
      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">امکان تغییر یا حذف سفارش، پس از تغییر آن موجود است؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>پس از نهایی شدن سفارش انگان تغییر یا حذف سفارش در سایت وجود ندارد. تنها در صورتی که از تصمیم خود اطمینان دارید با پشتیبانی سایت از طریق لینک تماس با ما اقدام نمایید.</p>
          </div>
      </li>
      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">اگر اطلاعات ثبت نام را اشتباه وارد کردیم چه کنیم؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>در چنین شرایطی وارد حساب کاربری خود شده و در صفحه پروفایل بر روی ویرایش اطلاعات کلیک کنید. در صفحه باز شده اطلاعات خود را ویرایش کنید.</p>
          </div>
      </li>
      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> تحویل سفارش ها چقدر زمان می برد؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>تحویل سفارش ها در شهر های مختلف متفاوت است. تحویل سفارش ها در تبریز تا یک روز انجام میپذیرد در شهر های دیگر ممکن است تا سه روز به طول بینجامد.</p>
          </div>
      </li>
      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> هزینه ی ارسال کالا ها به چه صورت است؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>هزینه ی ارسال کالا ها در شهر تبریز  رایگان انجام میپذیرد. در شهر های دیگر پس از نهایی شدن سفارش، پشتیبانی سایت با شما تماس گرفته و هزینه ارسال را اعلام می کنند.</p>
          </div>
      </li>
      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">آیا اجناس قابلیت خرید عمده را دارند؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>بله؛ در صورتی که شما خود طلا یا جواهر فروش باشید، می توانید اجناس را به صورت عمده سفارش دهید.</p>
          </div>
      </li>
      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">آیا اجناس خریداری شده به صورت عمده قیمت متفاوتی خواهند داشت؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>بله؛ در صورتی که شما خود طلا یا جواهر فروش باشید، بعد از ثبت نام در سایت قیمت یا وزن معادل اجناس را مشاهده خواهید کرد.</p>
          </div>
      </li>

      <li style="border-right:5px #d4af37 solid; padding:10px;">
          <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> فروش به صورت حضوری امکان پذیر است؟</a>
          <div class="uk-accordion-content whiteC-text fHarmattan">
              <p>دفتر سایت، در بازار طلای امیر شهر تبریز قرار دارد، امکان مراجعه ی حضوری برای حل مشکل یا مسائل دیگر وجود دارد، لکن چون دفتر سایت، به حالت ویترین نمی باشد، امکان مشاهده ی اجناس به صورت حضوری وجود ندارد.</p>
          </div>
      </li>
  </ul>
</div>

</div>
<br>

{% endblock %}
