{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”all”>
<title>
قوانین و شرایط | طلا مارکت
</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body_block %}
<br><br>
<div   class="uk-text-center ">
  <div style="padding:10%">


<div style="padding: 3%;border-radius: 8px;" uk-grid>
  <div class=" uk-width-1-1 uk-block fHarmattan ">
    <div class="uk-card uk-card-hover uk-card-body darkgreyC ">
    <h2 style="font-size:30px;" class="goldC-text uk-card-title uk-align-center fHarmattan">قوانین و مقررات</h2><br>
    <p style="font-size:20px" class="goldC-text uk-card-title uk-align-right fHarmattan  uk-text-justify ">
      کلیه کاربرانی که قصد عضویت و استفاده از سایت طلا مارکت را دارند، باید مفاد این توافقنامه را کامل مطالعه و سپس اقدام به عضویت و خرید از آن نمایند. عضویت در سایت و یا خرید از آن به منزله مطالعه و قبول شرایط خرید و عضویت و قوانین و مقررات مربوطه است.
<br><br>

      همه ی فعالیت های این سایت بر اساس قوانین جمهوری اسلامی ایران است.
<br><br>
    با تایید سفارش محصول، قیمت طلا یا جواهر خریداری شده بر اساس نرخ لحظه ای طلا که در زمان سفارش ثبت شده است محاسبه می شود و هرگونه نوسان قیمت طلا از زمان ثبت سفارش تا زمان تحویل جنس در قیمت نهایی تاثیر نخواهد گذاشت.
<br><br>
    هزینه ی ارسال کالا به آدرس ذکر شده در زمان ثبت سفارش جدا از قیمت محصول بوده و درصورتی که هزینه ای برای ارسال محصول در نظر گرفته شود به اطلاع مشتری خواهد رسید.
<br><br>
    هرگونه کلاهبرداری یا اقدام به کلاهبرداری از طریق مراجع قضایی پیگیری خواهد شد
<br><br>
    مشتریان می توانند هرگونه شکایت، پیشنهاد یا درخواست خود را در صفحه ی تماس با ما ثبت کنند.
<br><br>

این وب سایت تابع قوانین جمهوری اسلامی ایران می باشد و هرگونه موارد سیاسی، غیر اخلاقیو مغایر با هنجارهای اجتماعی باعث حذف حساب کاربر مورد نظر خواهد شد.
<br><br>
هنگام خرید کالا حتما قسمت توضیحات مربوطه را مطالعه کنید. سایت طلا مارکت مسئولیت اشتباه ها را بر عهده نمی گیرد.
<br><br>
قیمت محصولات بر حسب تومان ذکر شده اند.
<br><br>
کپی مطلب از این سامانه با ذکر منبع بلامانع است.
<br><br>
عضویت در سایت طلا مارکت، رایگان است.
<br><br>
 در زمان تحویل اجناس به کاربر، طلاها یا جواهرات تنها پس از تسویه حساب تحویل داده می شوند
<br><br>
صرف عضویت در سایت دلیل بر قبول و پذیرش مفاد موافقتنامه بوده و خلاف آن به هیچ وجه پذیرفته نیست ..
<br><br>
 کاربر باید در حفظ نام کاربری و رمز خود در سامانه کوشا باشد و آن را در اختیار افراد دیگری قرار ندهد.
<br><br>
 حق به روز رسانی و ایجاد تغییرات در قوانین و مقررات استفاده از سایت، جزء سیاست های سایت طلا مارکت است و امکان دارد در هر زمانی این سیاست ها با انتشار اعلامیه به کاربران تغییر یابد.
<br><br>
 کلیه اطلاعات شخصی کاربران، سفارش ها، اطلاعات تماس خصوصی و... به صورت کاملا محرمانه نزد سایت زر‌مارکت باقی خواهد ماند .
<br><br>
 مسئولیت حفاظت از نام کاربری و رمز عبور ، برعهده خود کاربران است.
<br><br>
 مسئولیت صحت تمامی اطلاعات وارد شده در حساب کاربری هر فرد )از جمله نام و نام خانوادگی و سایر اطلاعات شخصی و حرفه ای( کاملا برعهده کاربر می باشد. در صورت مشاهده هرگونه تناقض اطلاعات وارد شده با اطلاعات واقعی کاربر، حساب کاربری حذف خواهد شد .
<br><br>
 حضور کاربر حداقل ده دقیقه قبل از وقت تعیین شد، در آدرس داده شده الزامی است. لازم به ذکر است زمان تحویل اجناس، بعد از سفارش جنس توسط پشتیبانان سایت هماهنگ خواهد شد.
<br><br>
 پس از تحویل محصولات خریداری شده، امکان عودت جنس به هیچ وجه برای خریدار امکان پذیر نمی باشد. این امر به این خاطر است که پس از تحویل جنس به خریدار، محصول مربوطه طلای استفاده شده در نظر گرفته می شود و فقط قیمت طلای خام آن محاسبه می شود.
<br><br>
 ارائه کارت شناسایی معتبر هنگام تحویل جنس امری ضروری می باشد .
<br><br>
به منظور تعمیرات یا ارتقای این سایت ممکن است به طور موقت سایت غیرقابل دسترس شود و کاربران حق اعتراض ندارند.
<br><br>
 بعد از تحویل داده شدن جنس به مشتری، مسئولیت طلا یا جواهر بر‌ عهده ی مشتری بوده و مسئولیت هر گونه اتفاق از سایت طلا مارکت سلب می شود.
<br><br>
 کاربر حق ندارد فرد دیگری را برای تحویل گرفتن و تسویه حساب با سایت زرمارکت انتخاب کند. مگر اینکه هماهنگی های لازم با پشتیبانی سایت انجام شود.
<br><br>
 در صورت کوتاهی در حضور کاربر در زمان و مکان اعلام شده برای تحویل محصولات، در صورت پیش آمدن هر مشکلی، مسئولیت آن بر عهده ی کاربر سفارش دهنده کالا است.
</p></div>

</div>

</div>
</div>
</div>
<br><br>
{% endblock %}
