{% extends "BaseTemplates/base1.html" %}
{% load customtags %}


{% block head_block %}
<meta name=”robots” content=”all”>
<meta name="description" content="فروشگاه اینترنتی زرمارکت، برای خرید و فروش طلا و جواهرات با پایین ترین قیمت">
<meta name="keywords" content="زر مارکت, زرمارکت,خرید طلا,فروش طلا,خرید جواهر,فروش جواهر,خرید جواهرات,فروش جواهرات,خرید طلا و جواهرات,فروش طلا و جواهرات,خریئ طلا کمترین قیمت,فروش طلا کمترین قیمت,خرید و فروش طلا و جواهرات,خرید و فروش طلا و جواهرات کمترین قیمت,پایین ترین قیمت,کمترین قیمت,طلا,جواهر,جواهرات">

<title>
فروشگاه طلا و جواهرات | زر مارکت
</title>
{% endblock %}

{% block body_block %}
<div class="uk-text-center " >
  <div style="font-size:40px;" class="fHarmattan goldC-text">
    زر مارکت
    <br>
فروشگاه طلا و جواهرات


  </div>
  <br>

    <div style=" padding: 3%;" class="uk-card uk-card-large goldC-text darkgreyC" uk-grid>
      <div class=" uk-width-1-3@s fHarmattan uk-text-center uk-inline uk-visible@s">
          <img class="uk-position-center" src="/media/Logo/DarkGreyLogo.png" alt="">

    </div>

    <div class=" uk-width-1-1 uk-width-2-3@s fHarmattan uk-text-center">

    <div style="font-size:30px;" class="fHarmattan goldC-text">
      <div uk-parallax="y: -250" style="border:solid 1px #d4af37; border-radius:5px; font-size:32px; padding:8px;direction: ltr; padding:7px;"  class="">
  هر گرم طلا به ریال
  {% if error %}
  {{error}}
  {% else %}
  {{unit.unit_gram|pricedashes}}
  {% endif %}

      </div>
    </div>
    <div  class="fHarmattan goldC-text">
      <div uk-parallax="y: -250" style="border:solid 1px #d4af37; border-radius:5px; font-size:32px; padding:8px;direction: ltr;padding:7px"  class="">
        هر مثقال طلا به ریال
        {% if error %}
        {{error}}
        {% else %}
        {{unit.unit|pricedashes}}
        {% endif %}
      </div>
    </div>
      <div  uk-parallax="y: -250" style="font-size:32px; padding :8px;" class="fHarmattan goldC-text">
پرداخت بعد از تحویل جنس
      </div>
      <div uk-parallax="y: -250" style="font-size:32px; padding:8px;" class="fHarmattan goldC-text">
ارسال به تمامی نقاط کشور
      </div>
      <a  uk-parallax="y: -250" style="font-size:32px; padding:8px;" href="{% url 'jewlery:publiclist' %}" class="uk-button goldC darkgreyC-text fHarmattan uk-text-large">جستجوی طلا و جواهرات</a>
  </div>
    </div>

    <div class="uk-hidden">

<a href="http://zar-market.ir"></a>
    <h1> زرمارکت خرید طلا و جواهرات و فروش طلا و جواهر </h1>
    <p>
    سایت زر مارکت zar-market.ir
    یک سامانه خرید و فروش طلا و جواهر یا فروش طلا و جواهر بوده که باه هدف آسان تر کردن امر خرید و فروش جواهرات و طلا ایجاد گردیده است.
    در ادامه با زر مارکت همراه باشید تا با نحوه ی فروش جواهرات و طلا آشنا شوید.
    </p>
    <h2>نحوه ی خرید و فروش طلا و جواهرات</h2>
    <p>
    دیگر نیازی نیست برای جواهرات و طلا حضوری به بازار مراجعه کنید. کافیست وارد سایت زر مارکت شده و طلا و جواهرات خود را از
    <a href="{% url 'jewlery:publiclist' %}">لیست طلا و جواهرات</a>
    انتخاب کرده و به خرید آن بپردازید
    مدل های فعلی موجود در سایت عبارتند از:
    <ul>
      <li>فروش سرویس طلا</li>
      <li>فروش نیم ست طلا</li>
      <li>فروش ساعت طلا</li>
      <li>فروش دستبند طلا</li>
      <li>فروش گوشواره طلا</li>
      <li>فروش النگو طلا</li>
      <li>فروش پابند طلا</li>
      <li>فروش گردنبند طلا</li>
      <li>فروش مدال طلا</li>
      <li>فروش زنجیر طلا</li>
    </ul>
    نقطه ی قوت سایت زر مارکت، قیمت آن است.
    پایین ترین قیمت در سایت زرمارکت یکی از دلایلی است که این سایت رااز دیگران متمایز میکند.
    </p>
    <p>پس از وارد شدن به لیست جواهرات، طلای مورد نظر خود را از میان صد ها مدل موجود انتخاب کنید و بر روی آن کلیلک کنید.
    در صفحه ی باز شده مشخصات طلا و جواهر را به دقت مطالعه کنید و پس از اطمینان از خرید آن، به سفارش دادن محصول مورد نظر خود بپردازید.
    </p>
    <p>آدرس اصلی سایت زر مارکت <a href="http://zar-market.ir">زر مارکت</a>می باشد.</p>
    اگر شکایت یا انتقاد یا پیشنهادی از عملکرد یا قیمت محصولات دارد می تواند از طریق لینک
    <a href="{% url 'company:contactus' %}">تماس با ما</a>
    اقدام به ارتباط با پشتیبانی سایت زر مارکت نمایید.
    <h2>قوانین و مقررات سایت زر مارکت برای خرید طلا و جواهرات</h2>
    <ul>
      <li>

    کلیه کاربرانی که قصد عضویت و استفاده از سایت زر مارکت را دارند، باید مفاد این توافقنامه را کامل مطالعه و سپس اقدام به عضویت و خرید از آن نمایند. عضویت در سایت و یا خرید از آن به منزله مطالعه و قبول شرایط خرید و عضویت و قوانین و مقررات مربوطه است.
    </li><li>

    همه ی فعالیت های این سایت بر اساس قوانین جمهوری اسلامی ایران است.
    </li><li>
    با تایید سفارش محصول، قیمت طلا یا جواهر خریداری شده بر اساس نرخ لحظه ای طلا که در زمان سفارش ثبت شده است محاسبه می شود و هرگونه نوسان قیمت طلا از زمان ثبت سفارش تا زمان تحویل جواهرات در قیمت نهایی تاثیر نخواهد گذاشت.
    </li><li>
    هزینه ی ارسال کالا به آدرس ذکر شده در زمان ثبت سفارش جدا از قیمت محصول بوده و درصورتی که هزینه ای برای ارسال محصول در نظر گرفته شود به اطلاع مشتری خواهد رسید.
    </li><li>
    هرگونه کلاهبرداری یا اقدام به کلاهبرداری از طریق مراجع قضایی پیگیری خواهد شد
    </li><li>
    مشتریان می توانند هرگونه شکایت، پیشنهاد یا درخواست خود را در صفحه ی تماس با ما ثبت کنند.</li><li>
    </li><li>

    این وب سایت تابع قوانین جمهوری اسلامی ایران می باشد و هرگونه موارد سیاسی، غیر اخلاقیو مغایر با هنجارهای اجتماعی باعث حذف حساب کاربر مورد نظر خواهد شد.
    </li><li>
    هنگام خرید کالا حتما قسمت توضیحات مربوطه را مطالعه کنید. سایت زر مارکت مسئولیت اشتباه ها را بر عهده نمی گیرد.
    </li><li>
    قیمت محصولات بر حسب تومان ذکر شده اند.
    </li><li>
    کپی مطلب از سایت زر مارکت با ذکر منبع بلامانع است.
    </li><li>
    عضویت در سایت زر مارکت، رایگان است.
    </li><li>
    در زمان تحویل اجناس به کاربر، طلاها یا جواهرات تنها پس از تسویه حساب تحویل داده می شوند
    </li><li>
    صرف عضویت در سایت دلیل بر قبول و پذیرش مفاد موافقتنامه بوده و خلاف آن به هیچ وجه پذیرفته نیست .
    </li><li>
    کاربر باید در حفظ نام کاربری و رمز خود در سامانه کوشا باشد و آن را در اختیار افراد دیگری قرار ندهد.
    </li><li>
    حق به روز رسانی و ایجاد تغییرات در قوانین و مقررات استفاده از سایت زرمارکت، جزء سیاست های سایت زر مارکت است و امکان دارد در هر زمانی این سیاست ها با انتشار اعلامیه به کاربران تغییر یابد.
    </li><li>
    کلیه اطلاعات شخصی کاربران، سفارش ها، اطلاعات تماس خصوصی و... به صورت کاملا محرمانه نزد سایت زر‌مارکت باقی خواهد ماند .
    </li><li><strong>فروش طلا و جواهر با کمترین قیمت</strong>
    مسئولیت حفاظت از نام کاربری و رمز عبور ، برعهده خود کاربران است.
    </li><li>
    مسئولیت صحت تمامی اطلاعات وارد شده در حساب کاربری هر فرد )از جمله نام و نام خانوادگی و سایر اطلاعات شخصی و حرفه ای( کاملا برعهده کاربر می باشد. در صورت مشاهده هرگونه تناقض اطلاعات وارد شده با اطلاعات واقعی کاربر، حساب کاربری حذف خواهد شد .
    </li><li>
    حضور کاربر حداقل ده دقیقه قبل از وقت تعیین شد، در آدرس داده شده الزامی است. لازم به ذکر است زمان تحویل اجناس، بعد از سفارش جواهرات توسط پشتیبانان سایت زرمارکت هماهنگ خواهد شد.
    </li><li>
    پس از تحویل محصولات خریداری شده، امکان عودت جواهرات به هیچ وجه برای خریدار امکان پذیر نمی باشد. این امر به این خاطر است که پس از تحویل جواهرات به خریدار، محصول مربوطه طلای استفاده شده در نظر گرفته می شود و فقط قیمت طلای خام آن محاسبه می شود.
    </li><li>
    ارائه کارت شناسایی معتبر هنگام تحویل جواهرات امری ضروری می باشد .
    </li><li>
    به منظور تعمیرات یا ارتقای این سایت زرمارکت ممکن است به طور موقت سایت غیرقابل دسترس شود و کاربران حق اعتراض ندارند.
    </li><li>
    بعد از تحویل داده شدن جواهرات به مشتری، مسئولیت طلا یا جواهر بر‌ عهده ی مشتری بوده و مسئولیت هر گونه اتفاق از سایت زر مارکت سلب می شود.
    </li><li>
    کاربر حق ندارد فرد دیگری را برای تحویل گرفتن و تسویه حساب با سایت زرمارکت انتخاب کند. مگر اینکه هماهنگی های لازم با پشتیبانی سایت انجام شود.
    </li><li><strong>خرید طلا و جواهر با کمترین قیمت</strong>
    در صورت کوتاهی در حضور کاربر در زمان و مکان اعلام شده برای تحویل محصولات، در صورت پیش آمدن هر مشکلی، مسئولیت آن بر عهده ی کاربر سفارش دهنده کالا است.
    </ul>




    <div class="uk-card uk-card-hover uk-card-body darkgreyC ">
      <ul uk-accordion="multiple: true">
        <li style="border-right:5px #d4af37 solid; padding:10px;">
            <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">چگونه باید در سایت ثبت نام کرد؟</a>
            <div class="uk-accordion-content whiteC-text fHarmattan">
                <p>در صفحه ی ثبت نام سایت شماره همراه خود را بدون احتساب صفر (۰) اول آن وارد کنید و پس از انتخاب رمز مورد نظر و تایید آن و سایر فیلد های لازم بر روی تایید کلیک کنید.
                در صفحه بعدی کد تایید فرستاده شده به شماره همراه را وارد کنید تا ثبت نام شما نهایی شود.</p>
            </div>
        </li>
        <li style="border-right:5px #d4af37 solid; padding:10px;">
            <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">اگر خودمان طلا فروش یا ویترین باشیم چگونه باید در سایت ثبت نام کنیم؟</a>
            <div class="uk-accordion-content whiteC-text fHarmattan">
                <p>در هنگام ثبت نام در سایت در صفحه ی مربوطه کافیست تیک گزینه ی طلا یا جواهر فروش هستم را بزنید.
                پشتیبان های سایت درخواست های شما را دیده و پس از تایید درخواست شما، حساب کاربری شما به حالت ویژه تبدیل خواهد شد.</p>
            </div>
        </li>
        <ul>
          <li>خرید  سرویس طلا</li>
          <li>خرید  نیم ست طلا</li>
          <li>خرید  ساعت طلا</li>
          <li>خرید  دستبند طلا</li>
          <li>خرید  گوشواره طلا</li>
          <li>خرید  النگو طلا</li>
          <li>خرید  پابند طلا</li>
          <li>خرید  گردنبند طلا</li>
          <li>خرید  مدال طلا</li>
          <li>خرید  زنجیر طلا</li>
        </ul>
        <li style="border-right:5px #d4af37 solid; padding:10px;">
            <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> نحوه ی سفارش کالا در سایت چگونه است؟</a>
            <div class="uk-accordion-content whiteC-text fHarmattan">
                <p>پس از ثبت نام و ورود به سایت از صفحه ی طلا و جواهرات، کالای مورد نظز خود را انتخاب کرده و بر روی سفارش کلیک کنید.
                سپس در صفحه ی سفارش کالا مشخصات مورد نظر اعم از شماره تلفن و آدرس را پر کرده و بر روی تایید کلیک کنید.
                سفارش شما نهایی شده است،</p>
            </div>
        </li>
          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> کالا های سفارش داده شده به چه صورت تحویل داده می شوند؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>کالاهای سفارش داده شده در جعبه های خاص خود که هزینه ی اضافی ندارند قرار داده می شوند و به همراه فاکتور معتبر تحویل شما داده می شوند.</p>
              </div>
          </li>
          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">              پرداخت وجه به چه صورت انجام میپذیرد؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>پرداخت وجه پس از تحویل جنس و فاکتور آن به صورت حضوری انجام می پذیرد.</p>
              </div>
          </li>
          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">آیا امکان عودت جنس وجود دارد؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>خیر اجناس فروخته شده پس از تحویل جنس و فاکتور پس گرفته نمی شوند. در صورت اصرار مشتری به عودت جنس، اجناس به قیمت طلای خام و بدون اجرت جهت ذوب کردن خریداری می شوند.</p>
              </div>
          </li>
          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">قیمت گذاری اجناس موجود در سایت به چه صورت است؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>قیمت گذاری اجناس با نرخ لحظه ای طلا انجام می شود.
                  نرخ طلای سایت به صورت لحظه ای به روز رسانی شده و با حساب مالیات و اجرت کارساخته، قیمت نهایی اجناس در سایت نشان داده می شوند.</p>
              </div>
          </li>
          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">آیا با خرید از سایت، مانند سایر ویترین ها فاکتور جنس خریداری شده تحویل داده می شود؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>بله؛ همه ی اجناس با فاکتور شامل نرخ، وزن و سایر مشخصات طلا‌ تحویل داده می شوند.</p>
              </div>
          </li>


          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> اگر رمز عبود خود را فروش کردم چه کار کنم؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>در صورت فراموشی رمز عبور خود بر روی لینک فراموشی رمز کلیک کنید. در صفحه باز شماره تلفن خود را بدون وارد کردن صفر (۰) اول آن وارد کنید، اگر شماره تلفن وارد شده درست بوده و قبلا ثبت نام کرده باشید، رمز عبور جدید برای شما ارسال میگردد. با شماره تلفن و رمز عبود جدید میتوان وارد سیستم شد.</p>
              </div>
          </li>
          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">امکان تغییر یا حذف سفارش، پس از تغییر آن موجود است؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>پس از نهایی شدن سفارش انگان تغییر یا حذف سفارش در سایت وجود ندارد. تنها در صورتی که از تصمیم خود اطمینان دارید با پشتیبانی سایت از طریق لینک تماس با ما اقدام نمایید.</p>
              </div>
          </li>
          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">اگر اطلاعات ثبت نام را اشتباه وارد کردیم چه کنیم؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>در چنین شرایطی وارد حساب کاربری خود شده و در صفحه پروفایل بر روی ویرایش اطلاعات کلیک کنید. در صفحه باز شده اطلاعات خود را ویرایش کنید.</p>
              </div>
          </li>
          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> تحویل سفارش های خرید جواهر یا خرید طلا چقدر زمان می برد؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>تحویل سفارش ها در شهر های مختلف متفاوت است. تحویل سفارش ها در تبریز تا یک روز انجام میپذیرد در شهر های دیگر ممکن است تا سه روز به طول بینجامد.</p>
              </div>
          </li>
          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> هزینه ی ارسال کالا ها بعد از خرید و فروش طلا و جواهرات به چه صورت است؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>هزینه ی ارسال کالا ها در شهر تبریز  رایگان انجام میپذیرد. در شهر های دیگر پس از نهایی شدن سفارش، پشتیبانی سایت با شما تماس گرفته و هزینه ارسال را اعلام می کنند.</p>
              </div>
          </li>
          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">آیا اجناس قابلیت خرید عمده را دارند؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>بله؛ در صورتی که شما خود طلا یا جواهر فروش باشید، می توانید اجناس را به صورت عمده سفارش دهید.</p>
              </div>
          </li>
          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#">آیا اجناس خریداری شده به صورت عمده قیمت متفاوتی خواهند داشت؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>بله؛ در صورتی که شما خود طلا یا جواهر فروش باشید، بعد از ثبت نام در سایت قیمت یا وزن معادل اجناس را مشاهده خواهید کرد.</p>
              </div>
          </li>

          <li style="border-right:5px #d4af37 solid; padding:10px;">
              <a style="padding:10px;" class="uk-accordion-title goldC darkgreyC-text fHarmattan" href="#"> فروش به صورت حضوری امکان پذیر است؟</a>
              <div class="uk-accordion-content whiteC-text fHarmattan">
                  <p>دفتر سایت، در بازار طلای امیر شهر تبریز قرار دارد، امکان مراجعه ی حضوری برای حل مشکل یا مسائل دیگر وجود دارد، لکن چون دفتر سایت، به حالت ویترین نمی باشد، امکان مشاهده ی اجناس به صورت حضوری وجود ندارد.</p>
              </div>
          </li>
      </ul>
    </div>




    </div>



<br>

<div style="padding:10px; font-size:20px;" class="fHarmattan goldC-text uk-text-right">
  طلا و جواهرات پر بازدید >
</div>
    <div  class="uk-slider-container-offset uk-visible@s" uk-slider="autoplay: true; autoplay-interval:2400">

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

            <ul class="uk-slider-items uk-child-width-1-5@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid">
                        {% for jewlery in jewleries %}
                        {% if jewlery.is_favorite %}

                <li>
                    <div style="border-radius: 8px;" class="uk-card uk-card-default darkgreyC">
                      <a href="{% url 'jewlery:publicdetail' jewlery.pk %}">
                        <div style=" padding:6px;" class="uk-card-media-top">
                          {% for pic in jewlery.pictures.all %}
                          {% if forloop.first %}
                            <img style="border-radius: 8px; " src="{{pic.picture.url}}">
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="uk-card-body">
                          <div  class="uk-grid uk-grid-small goldC-text" uk-grid>
                            <div style="margin-top:-4px;" class=" uk-width-1-1 uk-block fHarmattan ">{{jewlery.name}}</div>
                          <div class=" uk-width-1-2 fHarmattan ">وزن</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.weight}}gr</div>
                          <div class=" uk-width-1-2 fHarmattan ">دسته بندی</div>
                           <div class=" uk-width-1-2 fHarmattan whiteC-text">
                          {% if jewlery.is_goldset %}  سرویس طلا{% endif %}
                          {% if jewlery.is_pendant %} مدال {% endif %}
                          {% if jewlery.is_bracelet %} دستبند {% endif %}
                          {% if jewlery.is_necklace %} گردنبند {% endif %}
                          {% if jewlery.is_bangle %} النگو {% endif %}
                          {% if jewlery.is_chain %} زنجیر {% endif %}
                          {% if jewlery.is_earings %} گوشواره {% endif %}
                          {% if jewlery.is_halfset %} نیم ست {% endif %}
                          {% if jewlery.is_watch %} ساعت {% endif %}
                          {% if jewlery.is_anklet %} پابند {% endif %}
                           </div>
                           {% if not user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">قیمت</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.pk|calculateprice}}</div>{% endif %}
                           {% if user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">اجرت فروش عمده</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.sale_wage}}</div>{% endif %}


                          </div>
                        </div>
                      </a>
                    </div>
                </li>
{% endif %}
{% endfor %}
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>

    <div  class="uk-hidden@s uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true; autoplay:true; autoplay-interval:2400">

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

            <ul class="uk-slider-items uk-child-width-1-5@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid">
                        {% for jewlery in jewleries %}
                        {% if jewlery.is_favorite %}

                <li>
                    <div style="border-radius: 8px;" class="uk-card uk-card-default darkgreyC">
                      <a href="{% url 'jewlery:publicdetail' jewlery.pk %}">
                        <div style=" padding:6px;" class="uk-card-media-top">
                          {% for pic in jewlery.pictures.all %}
                          {% if forloop.first %}
                            <img style="border-radius: 8px; " src="{{pic.picture.url}}">
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="uk-card-body">
                          <div  class="uk-grid uk-grid-small goldC-text" uk-grid>
                            <div style="margin-top:-4px;" class=" uk-width-1-1 uk-block fHarmattan ">{{jewlery.name}}</div>
                          <div class=" uk-width-1-2 fHarmattan ">وزن</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.weight}}gr</div>
                          <div class=" uk-width-1-2 fHarmattan ">دسته بندی</div>
                           <div class=" uk-width-1-2 fHarmattan whiteC-text">
                          {% if jewlery.is_goldset %}  سرویس طلا{% endif %}
                          {% if jewlery.is_pendant %} مدال {% endif %}
                          {% if jewlery.is_bracelet %} دستبند {% endif %}
                          {% if jewlery.is_necklace %} گردنبند {% endif %}
                          {% if jewlery.is_bangle %} النگو {% endif %}
                          {% if jewlery.is_chain %} زنجیر {% endif %}
                          {% if jewlery.is_earings %} گوشواره {% endif %}
                          {% if jewlery.is_halfset %} نیم ست {% endif %}
                          {% if jewlery.is_watch %} ساعت {% endif %}
                          {% if jewlery.is_anklet %} پابند {% endif %}
                           </div>
                           {% if not user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">قیمت</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.pk|calculateprice}}</div>{% endif %}
                           {% if user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">اجرت فروش عمده</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.sale_wage}}</div>{% endif %}


                          </div>
                        </div>
                      </a>
                    </div>
                </li>
{% endif %}
{% endfor %}
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

        </div>

        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

    </div>

    <div style="padding:10px; font-size:20px;" class="fHarmattan goldC-text uk-text-right">
لیست طلا و جواهرات >
    </div>
        <div  class="uk-slider-container-offset uk-visible@s" uk-slider="autoplay: true; autoplay-interval:2400">

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                <ul class="uk-slider-items uk-child-width-1-5@m uk-child-width-1-3@s uk-child-width-1-2 uk-grid">
                            {% for jewlery in jewleries %}
                            {% if not jewlery.is_favorite %}

                    <li>
                        <div style="border-radius: 8px;" class="uk-card uk-card-default darkgreyC">
                          <a href="{% url 'jewlery:publicdetail' jewlery.pk %}">
                            <div style=" padding:6px;" class="uk-card-media-top">
                              {% for pic in jewlery.pictures.all %}
                              {% if forloop.first %}
                                <img style="border-radius: 8px; " src="{{pic.picture.url}}">
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="uk-card-body">
                              <div  class="uk-grid uk-grid-small goldC-text" uk-grid>
                                <div style="margin-top:-4px;" class=" uk-width-1-1 uk-block fHarmattan ">{{jewlery.name}}</div>
                              <div class=" uk-width-1-2 fHarmattan ">وزن</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.weight}}gr</div>
                              <div class=" uk-width-1-2 fHarmattan ">دسته بندی</div>
                               <div class=" uk-width-1-2 fHarmattan whiteC-text">
                              {% if jewlery.is_goldset %}  سرویس طلا{% endif %}
                              {% if jewlery.is_pendant %} مدال {% endif %}
                              {% if jewlery.is_bracelet %} دستبند {% endif %}
                              {% if jewlery.is_necklace %} گردنبند {% endif %}
                              {% if jewlery.is_bangle %} النگو {% endif %}
                              {% if jewlery.is_chain %} زنجیر {% endif %}
                              {% if jewlery.is_earings %} گوشواره {% endif %}
                              {% if jewlery.is_halfset %} نیم ست {% endif %}
                              {% if jewlery.is_watch %} ساعت {% endif %}
                              {% if jewlery.is_anklet %} پابند {% endif %}
                               </div>
                               {% if not user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">قیمت</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.pk|calculateprice}}</div>{% endif %}
                               {% if user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">اجرت فروش عمده</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.sale_wage}}</div>{% endif %}


                              </div>
                            </div>
                          </a>
                        </div>
                    </li>
    {% endif %}
    {% endfor %}
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

            </div>

            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

        </div>


      <div class="uk-hidden@s uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true; autoplay:true; autoplay-interval:2400">

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                <ul  class="uk-slider-items uk-child-width-1-2 uk-grid">
                            {% for jewlery in jewleries %}
                            {% if not jewlery.is_favorite %}

                    <li>
                        <div style="border-radius: 8px;" class="uk-card uk-card-default darkgreyC">
                          <a href="{% url 'jewlery:publicdetail' jewlery.pk %}">
                            <div style=" padding:6px;" class="uk-card-media-top">
                              {% for pic in jewlery.pictures.all %}
                              {% if forloop.first %}
                                <img style="border-radius: 8px; " src="{{pic.picture.url}}">
                                {% endif %}
                                {% endfor %}
                            </div>
                            <div class="uk-card-body">
                              <div  class="uk-grid uk-grid-small goldC-text" uk-grid>
                                <div style="margin-top:-4px;" class=" uk-width-1-1 uk-block fHarmattan ">{{jewlery.name}}</div>
                              <div class=" uk-width-1-2 fHarmattan ">وزن</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.weight}}gr</div>
                              <div class=" uk-width-1-2 fHarmattan ">دسته بندی</div>
                               <div class=" uk-width-1-2 fHarmattan whiteC-text">
                              {% if jewlery.is_goldset %}  سرویس طلا{% endif %}
                              {% if jewlery.is_pendant %} مدال {% endif %}
                              {% if jewlery.is_bracelet %} دستبند {% endif %}
                              {% if jewlery.is_necklace %} گردنبند {% endif %}
                              {% if jewlery.is_bangle %} النگو {% endif %}
                              {% if jewlery.is_chain %} زنجیر {% endif %}
                              {% if jewlery.is_earings %} گوشواره {% endif %}
                              {% if jewlery.is_halfset %} نیم ست {% endif %}
                              {% if jewlery.is_watch %} ساعت {% endif %}
                              {% if jewlery.is_anklet %} پابند {% endif %}
                               </div>
                               {% if not user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">قیمت</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.pk|calculateprice}}</div>{% endif %}
                               {% if user.commonusers.is_jewler %}                <div class=" uk-width-1-2 fHarmattan ">اجرت فروش عمده</div>  <div class=" uk-width-1-2 fHarmattan whiteC-text">{{jewlery.sale_wage}}</div>{% endif %}


                              </div>
                            </div>
                          </a>
                        </div>
                    </li>
    {% endif %}
    {% endfor %}
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

            </div>

            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

        </div>





    <ul class="uk-slider-nav uk-dotnav"></ul>
  </div>
    {% endblock %}
